.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* RELATED PRODUCTS */
.related-products {
  margin: 3rem 0;
}

.related-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 5rem;
  color: var(--lynx-gray-color);
  font-weight: var(--font-weight-4);
  line-height: 5.5rem;
}

.related-products-title {
  position: relative;
  font-size: var(--font-size-4);
}

.section-link {
  font-size: var(--font-size-5);
  color: var(--primary-color);
}

.section-link:hover {
  text-decoration: underline;
}
