.product-listing-section {
  max-width: 1300px;
  display: flex;
}

.all-products {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
}

/* FILTER BTN CONTAINER */
.filter-btn-container {
  display: none;
  text-align: center;
  position: sticky;
  width: 100%;
  bottom: 0;
  background: var(--secondary-color);
}

.filter-btn {
  display: inline-block;
  padding: 1rem;
  font-size: var(--font-size-4);
  width: 100%;
}

.fitler-btn:hover {
  color: var(--primary-color);
}

.no-data-text {
  font-size: var(--font-size-2);
  width: 100%;
  text-align: center;
  align-self: center;
}

/* MEDIA QUERIES */
@media (max-width: 540px) {
  .filter-btn-container {
    display: block;
  }
}
